# Zenoh Configuration
ZENOH_ROUTER=tcp/127.0.0.1:7447

# API Server Configuration
API_HOST=0.0.0.0
API_PORT=8080
PEA_CONFIG_DIR=./data/pea-configs
POL_DB_DIR=./data/pol
RECIPE_DIR=./data/recipes
TIMESERIES_MAX_POINTS_PER_KEY=86400
TIMESERIES_CONFIG_PATH=./data/timeseries/config.json

# Postgres Configuration
POSTGRES_DB=fendtastic
POSTGRES_USER=fendtastic
POSTGRES_PASSWORD=fendtastic
DATABASE_URL=postgres://fendtastic:fendtastic@localhost:5432/fendtastic

# Neuron Configuration
NEURON_BASE_URL=http://localhost:7000
NEURON_USERNAME=admin
NEURON_PASSWORD=0000
NEURON_DISABLE_AUTH=0

# Frontend Configuration
VITE_API_URL=http://localhost:8080/api/v1
VITE_ZENOH_WS=ws://localhost:8000
